@import 'themes';
@import 'breakpoints';

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #d8dcd2;
}
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 5.5em;
  @include mobile {
    font-size: 2.5em
  }
}

.clock {
  display: flex;
}

.help-row {
  display: flex;
}

.item {
  width: 1em;
  height: 1em;
  border-radius: 10px;
  margin: 10px 5px;
  background-color: #c6cac0;
  user-select: none;
  display: flex;
  justify-content: center;
}

.item p {
  margin: auto;
  background-color: unset;
  color: #c6cac0;
  font-family: monospace;
  line-height: 1em;
  text-align: center;
}

.lit {
  background-color: #292d23;
  transition: background-color 100ms ease-in;
}

.help-row .item {
  border: 0;
  background-color: unset;
  margin-top: 0
}
.col:nth-child(1) .item:nth-child(-n+2), .col:nth-of-type(2n+3) .item:nth-child(1) {
  visibility: hidden;
}

.themed {
    display: flex;
    width: 100%;
    height: 100%;
}

.controls {
  position: absolute;
  display: flex;
  width: 100vw;
  flex-direction: column;
  @include mobile {
    display: unset;
  }
  
}

.controls > img {
  &:nth-child(2){
    float: right;
  }
  width: 2em;
  cursor: pointer;
  margin: 1em;
  margin-bottom: 0;
  opacity: 0.3;
    &:hover {
      opacity: 8;
    }
  @include mobile {
      display: unset;
  }  
}
