.indian {
    background: indianred;
    
    .item {
        background: #c66f6f;
    }
    .lit {
        background: #5d4452;
    }
    .item p {
        color: #e7c99d;
    }   
}

.marine {
    background: #028090;
    .item {
        background: #00a896;
    }
    .lit {
        background: #f0f3bd;
    }
    .item p {
        color: #d5d7b5;
    }   
}

.france {
    background: #FDFFFC;
    .item {
        background: #011627;
    }
    .lit {
        background: #FF9F1C;
    }
    .item p {
        color: #011627;
    }  

}

.typewriter{
    background: #E4E0C7;
    .item {
        background: #573B3a;
        border-radius: 50%;
    }
    .lit {
        background: #DDC470;
    }
    .item p {
        color: #CC6E55;
    }   
}

.pacman {
    background: #020f55;
    .item {
        background: unset;
        border: 4px dotted #13206b;
    }
    .lit {
        border: 4px dotted #ffc107;
        background: unset;
    }
    .item p {
        color: #ffc107;
    }   

}

.crazy{
    background: #fff;

    .item {
        background: #FFC107;
        border-radius: 3px;
    }

    .lit {
        background: #000;
    }
    .item p {
        color: #FFC107;
    }
    .help-row p {
        color: black !important;
    }
   
}